# Ignore .env file
.env
# Ignore history.json file
events/history.json
# Ignore history.json file
events/prompt.js
# Ignore node_modules directory
node_modules/
# Ignore memoryBank.json file
commands/memoryBank.json